$primaryColor: #f0e1c5;
$secondaryColor: #433f37;
$tertiaryColor: #918877;
$fontColor: #36393b;
$borderColor: #433f37;

$fontPrimary: 'Roboto Slab', sans-serif;
$fontAccent: 'Montserrat', sans-serif;
